body, html {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

body {
    margin: 68px 5px 5px;
}


/* Header */
header {
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    background-color: #1c2534;
    width: 100vw;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.13); 
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.13);
}
header > img {
    height: 35px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 12.5px;
}
header > h1 {
    text-align: center;
    margin: 10px auto;
    color: #fff;
    font-family: Verdana, sans-serif;
}
header > button {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 100px;
    margin: 15px 15px; 
    border: 2px solid white;
    border-radius: 3px;
    background-color: #1c2534;
    color: white;
    font-size: 15px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: all .4s ease;
}
header > button:hover {
    background-color: white;
    color: #1c2534;
    border-color: #1c2534;
    border-radius: 4px;
}
header > button:active {
    transform: scale(.9)
}

@keyframes flicker {
    0% {opacity: .9}
    50% {opacity: .6}
    100% {opacity: .9}
}

#filter[data-filtering="true"]::before {
    content: '◉ Active';
    position: absolute;
    left: -95px;
    color: #4fd37b;
    animation-name: flicker;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@media screen and (min-width: 1600px) {
    body {
        width: 1600px;
        margin: 68px auto 5px;
    }
    header > img {
        left: 50%;
        margin-left: -790px;
    }
    header > #filter {
        left: 50%;
        margin-left: 690px;
    }
}


/* Footer */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 26px;
}
footer > span {
    display: block;
    text-align: center;
    font-family: Verdana, sans-serif;
    color: #aaa;
    font-size: 13px;
}


.d-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.d-l, .d-m, .d-r {
    height: calc(100vh - 110px);
    flex: 0 1 33.3%;
    width: 30%;
    padding: 3px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.d-title {
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

.d-block {
    background-color: #fff;
    border-radius: 5px;
    padding: 0 10px;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.23); 
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.23);
}

hr {   
    margin: -5px auto 15px;
    width: 80%;
}

.avatar:before {
    content: ' ';
    display: block;
    position: absolute;
    height: 48px;
    width: 48px;
    background-image: url('/img/no_profile_picture.png');
}

#blockTerms > hr {
    border: 1px solid #f6dc7c;
}
#blockPopular > hr {
    border: 1px solid #d2a4a6;
}
#blockHashtags > hr {
    border: 1px solid #142424;
}

#blockRecent > hr {
    border: 1px solid #0c989c;
}

#blockCurrent > hr {
    border: 1px solid #eea91d;
}
#blockChart > hr {
    border: 1px solid #a0926e;
}

/* Left side */
#blockTerms {
    height: 25%;
}
#tweetTerms {
    width: 100%;
    height: calc(100% - 80px);
}
#blockPopular {
    position: relative;
    height: 50%;
    overflow: hidden;
}
#blockHashtags {
    height: 25%;
}
#tweetHashtags {
    width: 100%;
    height: calc(100% - 80px);
}

/* Middle */
#blockCurrent {
    position: relative;
    flex: 0 1 100%;
    overflow-y: hidden;
}

.blockGradient {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

/* Right side */
#blockRecent {
    height: 70%;
}
#tweetRecent {
    height: calc(100% - 80px);
    margin-right: 1px;
    margin-bottom: 1px;
}
#tweetRecent > ol > .stream-item {
    overflow: hidden;
    height: 100%;
}
#tweetRecent > ol > .stream-item > .tweet {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
#recentImg {
    max-height: 80%;
    max-width: 100%;
}

#blockChart {
    height: 30%;
}

/* Filter Menu */
#filter-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: .4;
    background-color: #1c2534;
}
.filter-wrapper {
    width: 800px;
    height: 435px;
    position: absolute;
    left: calc(50% - 400px);
    top: calc(50% - 300px);
    background-color: white;
    padding: 10px;
    opacity: 1;
    
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.23); 
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.23);
}
.filter-contents {
    position: relative;
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
}
.filter-header {
    width: calc(100% + -10px);
    margin: -10px 0 0 -10px;
    padding: 15px;
    height: 30px;
    font-size: 24px;
    color: white;
    font-weight: bold;
    background-color: #1c2534;
}
.filter-options {
    width: 80%;
    margin: 55px auto auto auto;
}
.filter-group-title {
    margin: 20px auto 5px 2px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
}
#hr-filter-cus {
    border: 1px solid #d2a4a6;
    margin: 5px 5px 10px 5px;
    width: 108px;
}
#hr-filter-pre {
    border: 1px solid #eea91d;
    margin: 5px 5px 10px 5px;
    width: 147px;
}
#custom-terms {
    font-size: 18px;
    width: 95%;
    padding: 10px;
    border: 1px solid lightgray;
}
#custom-terms:focus {
    border: 1px solid #0c989c; 
    outline: none;
}
#predefined-terms {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
}
.filter-term {
    font-size: 18px;
    width: calc(25% - 10px);
    padding: 10px 15px;
    border: 1px solid lightgray;
    color: grey;
    background-color: white;
    transition: transform .2s;
    cursor: pointer;
}
.filter-term:hover {
    background-color: #eee;
    color: #1c2534;
    transform: scale(.98);
}
.filter-term[data-active="true"] {
    border: 2px solid #0c989c;
    padding: 9px 14px;
    color: #1c2534;
}
#deactivateFilterButton {
    left: 5px;
    background-color: #d2a4a6;
}
#setFilterButton {
    right: 5px;
    background-color: #0c989c;
}
#setFilterButton, #deactivateFilterButton {
    position: absolute;
    bottom: 5px;
    font-size: 15px;
    font-family: Verdana, sans-serif;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: .1s;
}
#setFilterButton:hover, #deactivateFilterButton:hover {
    opacity: .8;
    transform: scale(0.98);
}

@keyframes tweet-appear {
    0%   {transform: scale(0.98);}
    100% {transform: scale(1);}
  }

.stream-item {
    animation-duration: .3s;
    animation-name: tweet-appear;
}